{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/header_simple.html.twig' %}
{% endblock %}

{% block content %}
	<div class="main-content row align-center">
		<div class="col col-10">
			<h1 class="title">Now-<br>Here.</h1>

			<div>
   			{{ page.content }}
			</div>

			<div class="contact-info">
				C. {{ config.site.contact.phone }}<br>
				D. {{ config.site.contact.address }}<br><br>
				<a href="mailto:{{ config.site.contact.email }}">{{ config.site.contact.email }}</a>
			</div>


			<div class="socials">
				<a target="_blank" href="{{ config.site.header.facebook }}" class="fb">
				</a>
				<a target="_blank" href="{{ config.site.header.instagram }}" class="in">
				</a>
				<a target="_blank" href="{{ config.site.header.behance }}" class="behance">
				</a>
			</div>

		</div>

	</div>
{% endblock %}
