{% set body_classes = "background-primary" %}

{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/header_simple.html.twig' with {linkColor: 'white'} %}
{% endblock %}

{% block body %}
	<div class="main-content main-content-contact row align-center">
		<div class="col col-8 push-middle push-center">
			<h2 class="title">Now-<br>Here.</h2>
			<div>{{ page.content }}</div>
			<div class="contact-info">
				C. {{ config.site.contact.phone }}<br>
				D. {{ config.site.contact.address }}<br><br>
				<a href="mailto:{{ config.site.contact.email }}">{{ config.site.contact.email }}</a>
			</div>


			<div class="socials">
				<a target="_blank" href="{{ config.site.header.facebook }}" class="fb">
				</a>
				<a target="_blank" href="{{ config.site.header.instagram }}" class="in">
				</a>
				<a target="_blank" href="{{ config.site.header.behance }}" class="behance">
				</a>
			</div>

		</div>

	</div>
{% endblock %}
