{% set body_classes = "background-primary" %}

{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/header_simple.html.twig' with {linkColor: 'yellow'} %}
{% endblock %}

{% block body %}
	<div class="main-content main-content-contact row align-center ">
		<div class="col col-10 push-middle">
			<div class="main-content-delayed">
				<h2 class="subtitle">
					<img class="main-logo" src="/user/themes/nowheretheme/assets/logo.png" alt="Now-Here." title="Now-Here.">
				</h2>
				{% if page.content %}<div>{{ page.content }}</div>{% endif %}
				<div class="contact-info">
					C.<ul class="inline-ul"><li><a href="tel:{{ config.site.contact.phone|trim }}">{{ config.site.contact.phone|trim }}</a></li>
						<li><a href="tel:{{ config.site.contact.phone2|trim }}">{{ config.site.contact.phone2|trim }}</a></li></ul><br>
					{{ config.site.contact.address }}<br>
					<a href="mailto:{{ config.site.contact.email }}">{{ config.site.contact.email }}</a>
				</div>


				<div class="socials-links">
					<a target="_blank" href="{{ config.site.header.facebook }}">Facebook</a> / <a target="_blank" href="{{ config.site.header.instagram }}">Instagram</a>  / <a target="_blank" href="{{ config.site.header.behance }}">Behance</a>
				</div>
			</div>

		</div>

	</div>
{% endblock %}
