{% extends 'partials/base.html.twig' %}


{% block header %}
{% endblock %}

{% block body %}

	<div class="centered">
		<div class="title">Now-<br><i>&nbsp;&nbsp;Here.</i></div>
		<div class="subtitle-container">
			<div class="subtitle">“Página en Reflexión Creativa”</div>
			<div class="spinner">
			  <div class="bounce1"></div>
			  <div class="bounce2"></div>
			  <div class="bounce3"></div>
			</div>

		</div>
	</div>

	<!-- <div class="centered">
		<div class="row">
		    <div class="col col-6 title"></div>
		    <div class="col col-6 contact">
		    	
		    	
		    </div>
		</div>
		<div class="row">
		    <div class="col col-6"></div><div class="col col-6">
		    			    </div>
		</div>
	</div> -->

	<footer>
		<div class="row">
			<div class="col col-6 contact">
			Contacto:<br>
    		Celular: {{ site.contact.phone }}<br>
		    <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a>		    	
		    </div>
			<div class="col col-6 push-right push-bottom socials">
	    		<a target="_blank" href="{{ page.header.facebook }}" class="fb">
	    			<img alt="nowhere-facebook" src="{{ url("theme://assets/fb.png") }}">
    			</a>
    			<a target="_blank" href="{{ page.header.instagram }}" class="in">
    				<img alt="nowhere-instagram" src="{{ url("theme://assets/in.png") }}">
				</a>
				<a target="_blank" href="{{ page.header.behance }}" class="behance">
    				<img alt="nowhere-behance" src="{{ url("theme://assets/behance.png") }}">
				</a>
			</div>
		</div>
	</footer>
{% endblock %}

{% block footer %}
{% endblock %}
