{% set body_classes = "background-primary" %}

{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}
{% set base_url = page.url %}
{% set feed_url = base_url %}

{% if base_url == '/' %}
  {% set base_url = '' %}
{% endif %}

{% if base_url == base_url_relative %}
  {% set feed_url = base_url~'/'~page.slug %}
{% endif  %}

{% block content %}

    <div class="portfolio-grid">
      {% for child in collection %}
        {% if loop.index is odd %}
          <div class="row">
        {% endif %}
          <div class="col {{ collection|length > 1 ? 'col-6' : 'col-12' }}">
            <a href="{{ child.url }}">
              <img src="{{ (child.media.images|first).url }}" alt="{{ child.title }}">
              <div class="hover-back"><div class="image-title h1">{{ child.title }}</div></div>
            </a>
          </div>
         {% if loop.index is even or collection|length == 1%}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row">
        <div class="col col-12 text-right socials-links">
            <a target="_blank" href="{{ config.site.header.facebook }}">Facebook</a> / <a target="_blank" href="{{ config.site.header.instagram }}">Instagram</a>  / <a target="_blank" href="{{ config.site.header.behance }}">Behance</a>
        </div>
    </div>

{% endblock %}


{% block footer_content %}
  {#<div class="col col-6 push-right push-bottom socials">#}
    {#<a target="_blank" href="{{ config.site.header.facebook }}" class="fb">#}
    {#</a>#}
    {#<a target="_blank" href="{{ config.site.header.instagram }}" class="in">#}
    {#</a>#}
    {#<a target="_blank" href="{{ config.site.header.behance }}" class="behance">#}
    {#</a>#}
  {#</div>#}

{% endblock %}
