{% set body_classes = "background-secondary" %}

{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/header_simple.html.twig' with {linkColor: 'white'} %}
{% endblock %}

{% block body %}
		<section class="background-section background-section-image" style="top:0px;background-image:url('{{ (page.media.images|first).url }}')"></section>
		<div class="container work-page-container">
				<div class="container-inner">
					<div class="main-content">

						<div class="row align-center">

							<div class="col col-10 work-page-content">
								<h1>{{ page.title }}</h1>
								<div class="description">
									<a href="#" class="toggle"><span class="toggle-content">+ Mas info</span><span class="toggle-content" style="display:none;">- Menos info</span></a>
									<div class="description-content" style="display:none;">{{ page.content }}</div>
								</div>

								<div class="work-media-grid row align-center around">
									{% for img in page.media.all %}
										{% if loop.index0 %}
											<div class="col {{ (img.mime == "image/gif" or img.width > 700) ? 'col-12' : 'col-6' }}"><img src="{{ img.url }}"></div>
										{% endif %}
									{% endfor %}
								</div>

								<div class="socials-links text-right">
									<a target="_blank" href="{{ config.site.header.facebook }}">Facebook</a> / <a target="_blank" href="{{ config.site.header.instagram }}">Instagram</a>  / <a target="_blank" href="{{ config.site.header.behance }}">Behance</a>
								</div>

							</div>

						</div>
					</div>
			</div>
		</div>
{% endblock %}



{% block js %}

<script type="text/javascript">



	$(document).ready(function(){

	    function updateIcons(){
            var height = $('.background-section-image').outerHeight();
            var scrollTop = $(window).scrollTop();

            var className = scrollTop > height-50 ? 'blue' : 'white';

            $('.logo.colored-link').attr('class', 'logo colored-link colored-link-'+className);
            $('.back.colored-link').attr('class', 'back colored-link colored-link-'+className);
		}

        $( window ).resize(function() {
            updateIcons();
		});
		$( window ).scroll(function() {
            updateIcons();
		});

        updateIcons();


//			function getLinkColor(c, returnClass){
//				switch (c) {
//					case '#036B89':
//						return 'white';
//					break;
//					case '#C14426':
//						return 'white';
//						break;
//					case '#C4D3D7':
//						return returnClass ? 'red' : '#C14426';
//						break;
//					default:
//						return returnClass ? 'blue' : '#036B89';
//						break;
//				}
//			}
//
//			var windowHeight = $(window).height();
//			var colors = ['#C4D3D7', '#C14426', 'white', '#036B89'];
//
//			$( window ).resize(function() {
//				windowHeight = $(window).height();
//			});
//
//			$( window ).scroll(function() {
//				var scrollTop = $(document).scrollTop();
//				var index = Math.floor(scrollTop/(windowHeight*1.5))%colors.length;
//
//				if(!$('.description-content').is(":visible") ||  !$('.description-content').visible(true)){
//					$('body').css("background-color", colors[index]);
//					$('.work-page-content').css('color', getLinkColor(colors[index], false));
//					$('.header-simple .logo.colored-link').attr('class', 'logo colored-link colored-link-'+getLinkColor(colors[index], true));
//					$('.header-simple .back.colored-link').attr('class', 'back colored-link colored-link-'+getLinkColor(colors[index], true));
//				}
//			});

			$('.description').on('click', '.toggle', function(e){
				e.preventDefault();
				$('.toggle-content').toggle();
				$(".description-content").fadeToggle('fast');
			});
	});
</script>

{% endblock %}
