<div id="header" class="header-simple {{ pageType is defined and page == 'work' ? 'header-simple-work' : ''}}">
    <div class="container">
        <div class="container-inner">
            <div class="row row-xs">
              <div class="col push-left">
                  <a class="logo colored-link colored-link-{{ linkColor is defined ? linkColor : 'blue'}}" href="{{ base_url_absolute }}"></a>
              </div>
              <div class="col push-right text-right">
                <a class="back colored-link colored-link-{{ linkColor is defined ? linkColor : 'blue'}}" href="{{ base_url_absolute }}"></a>
              </div>
            </div>
        </div>
    </div>
</div>
